<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header-hotel-details') %>
  <%- include('partials/main-content') %>
  <%- include('partials/auth-popup') %>
  <%- include('partials/footer') %>

</body>
</html>